@model WebApplication5.Models.Rawat_Inap

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rawat_Inap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kamar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kamar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dokter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dokter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
